{
  "ignition": {
    "config": {},
    "security": {
      "tls": {}
    },
    "timeouts": {},
    "version": "2.2.0"
  },
  "networkd": {},
  "passwd": {},
  "storage": {
    "files": [
      {
        "filesystem": "root",
        "overwrite": false,
        "path": "/etc/systemd/network/99-default.link",
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,${DEFAULT_LINK}",
          "verification": {}
        },
        "mode": 420
      },
      {
        "filesystem": "root",
        "overwrite": false,
        "path": "/etc/NetworkManager/conf.d/10-dhcp-config.conf",
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,${DISABLE_NICS}",
          "verification": {}
        },
        "mode": 420
      }
    ]
  },
  "systemd": {}
}
